# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
dist/
coverage/
.tmp/
.temp/
.DS_Store

# Runtime
uploads/
*.log

# OS/Editor
Thumbs.db
.idea/
.vscode/
